.toggleIcon {
  visibility: visible;
  color: var(--lego-font-color);
}

.moon {
  @media (--mobile-device) {
    color: var(--color-currentcolor);
  }
}

.sun {
  @media (--mobile-device) {
    color: var(--color-orange-4);
  }
}

.moon:hover {
  color: var(--color-black);
}

.sun:hover {
  color: var(--color-orange-4);
}
